.header {
  padding: 0 2%;
  nav {
    display: flex;
    align-items: center;
    .logo {
      width: 30%;
      height: 4vh;
      padding: 1%;
    }
    img {
      height: 100%;
    }
    .right-node {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .items {
        display: flex;
        align-items: center;
        .item{
          margin-right: 1rem;
          margin-left: 1rem;
          text-transform: uppercase;
          font-weight: bolder;
          font-size: 12px;
        }
      }
    }
  }
}
