.home {
  .top-banner {
    height: 50vh;
  }
  .tech-info {
    .heading {
      background-color: #c5c5c5;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
    }
    .category {
      margin-top: 20px;
      display: flex;
      .item {
        margin-right: 15px;
        margin-left: 15px;
        line-height: 1.1rem;
        word-spacing: 0.2rem;
        width: 25%;
        .tech-img {
          height: 15vh;
          align-items: center;
          display: flex;
        }
      }
      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 6px;
      }
    }
  }
  .about-me {
    margin-top: 25px;
    .head {
      background-color: #c5c5c5;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .content {
      margin: 10px;
      text-align: center;
    }
    .footer-cont {
      margin: 10px;
      text-align: center;
    }
  }
  .tech-news {
    .heading {
      background-color: #c5c5c5;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
    }
    .category {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .heading {

      }
      .item {
        margin-right: 15px;
        margin-left: 15px;
        line-height: 1.1rem;
        word-spacing: 0.2rem;
        .tech-img{
          height: 15vh;
        }
      }
      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 6px;
      }
    }
  }
  .subscribed-sec {
    .heading {
      background-color: #c5c5c5;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
    }
    .subsc {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .left {
        width: 50%;
        text-align: center;
        line-height: 1.5rem;
        .head{
          margin-bottom: 10px;
        }
      }
      .right{
        width: 50%;
        text-align: center;
        line-height: 1.5rem;
        .head{
          margin-bottom: 10px;
        }
      }
    }

  }
}
