<!--<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">-->
  <!--<div id="pageintro" class="hoc clear">-->
    <!--<div class="flexslider basicslider">-->

      <!--<div>-->
        <!--<h3 class="heading">Aliquam vestibulum egestas</h3>-->
        <!--<p>Fusce rutrum laoreet magna eleifend lorem in euismod sodales commodo mauris sit amet lorem metus donec-->
          <!--pharetra</p>-->
        <!--<p class="font-x1 uppercase bold">Lobortis phasellus in nisl arcu</p>-->
        <!--<footer>-->
          <!--<ul class="nospace inline pushright">-->
            <!--<li><a class="btn" href="#">Feugiat tellus</a></li>-->
            <!--<li><a class="btn inverse" href="#">Tristique ornare</a></li>-->
          <!--</ul>-->
        <!--</footer>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="wrapper coloured">-->
  <!--<article class="hoc cta clear">-->
    <!--<h6 class="three_quarter first">Cursus lectus nullam ante facilisi mauris pretium</h6>-->
    <!--<footer class="one_quarter"><a class="btn" href="#">Condimentum nulla &raquo;</a></footer>-->
  <!--</article>-->
<!--</div>-->
<!--<div class="wrapper bgded" style="background-image:url('images/demo/backgrounds/02.png');">-->
  <!--<div class="hoc split clear">-->
    <!--<section>-->
      <!--<p class="nospace font-xs">Pulvinar scelerisque suscipit</p>-->
      <!--<h6 class="heading">Elit neque aliquet tempor</h6>-->
      <!--<p class="btmspace-30">Arcu a pretium ante augue ut dui habitant morbi tristique senectus et netus et malesuada-->
        <!--fames ac turpis egestas morbi tempus efficitur sapien quis.</p>-->
      <!--<ul class="fa-ul">-->
        <!--<li><i class="fa-li fa fa-check-circle"></i> Ipsum elit faucibus tortor eleifend</li>-->
        <!--<li><i class="fa-li fa fa-check-circle"></i> Vehicula dapibus neque mauris laoreet</li>-->
        <!--<li><i class="fa-li fa fa-check-circle"></i> Enim tempus gravida elementum sodales</li>-->
      <!--</ul>-->
    <!--</section>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="wrapper row3">-->
  <!--<main class="hoc container clear">-->
    <!--<div class="sectiontitle center">-->
      <!--<h6 class="heading">Ultrices cras vitae accumsan</h6>-->
      <!--<p>Metus integer sed congue mauris donec tincidunt efficitur vestibulum phasellus</p>-->
    <!--</div>-->
    <!--<div class="clear">-->
      <!--<div class="two_third first">-->
        <!--<p>Nibh ex auctor facilisis viverra eu fermentum quis sem nunc sit amet magna sapien donec commodo est et-->
          <!--ante.</p>-->
        <!--<p class="btmspace-50">Luctus faucibus imperdiet felis tempus praesent molestie quis est sit amet scelerisque-->
          <!--etiam eu tellus sed nisi ornare lacinia placerat vitae elit praesent sed.</p>-->
        <!--<ul class="nospace group">-->
          <!--<li class="one_third first">-->
            <!--<article><a href="#"><i class="icon btmspace-30 fa fa-joomla"></i></a>-->
              <!--<h6 class="heading font-x1">Porttitor ipsum</h6>-->
              <!--<p>Tempus nulla ipsum dapibus ex vel condimentum purus urna et turpis sed&hellip;</p>-->
            <!--</article>-->
          <!--</li>-->
          <!--<li class="one_third">-->
            <!--<article><a href="#"><i class="icon btmspace-30 fa fa-braille"></i></a>-->
              <!--<h6 class="heading font-x1">Dictum orci morbi</h6>-->
              <!--<p>Faucibus vitae sem ut mattis aenean eget venenatis tortor aliquam at metus&hellip;</p>-->
            <!--</article>-->
          <!--</li>-->
          <!--<li class="one_third">-->
            <!--<article><a href="#"><i class="icon btmspace-30 fa fa-modx"></i></a>-->
              <!--<h6 class="heading font-x1">Eleifend felis sed</h6>-->
              <!--<p>Egestas auctor purus consectetur vehicula velit integer dictum sem id&hellip;</p>-->
            <!--</article>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="one_third"><a href="#"><img class="inspace-10 btmspace-15 borderedbox" src="images/demo/320x180.png"-->
                                              <!--alt=""></a><br>-->
        <!--<a href="#"><img class="inspace-10 borderedbox" src="images/demo/320x180.png" alt=""></a></div>-->
    <!--</div>-->
    <!--<div class="clear"></div>-->
  <!--</main>-->
<!--</div>-->
<!--<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">-->
  <!--<div id="testimonial" class="hoc container clear">-->
    <!--<blockquote>Consequat sed aliquam odio bibendum nullam bibendum nisi eget purus semper ut velit gravida nam commodo-->
      <!--dictum augue id sodales ex sed enim ipsum fermentum eu volutpat eu sit amet neque donec in enim enim vivamus massa-->
      <!--dolor rhoncus id diam at dignissim faucibus leo nullam eget justo.-->
    <!--</blockquote>-->
    <!--<figure><img class="circle" src="images/demo/60x60.png" alt="">-->
      <!--<figcaption><strong>A.Doe</strong><br>-->
        <!--<em>Position, Company Name</em></figcaption>-->
    <!--</figure>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="wrapper row3">-->
  <!--<section class="hoc container clear">-->
    <!--<h6 class="heading">Metus donec et ultrices</h6>-->
    <!--<p class="nospace">Metus non hendrerit mauris in et neque mattis dui lacinia tincidunt a eget lorem</p>-->
    <!--<p class="nospace btmspace-80">Fermentum ac est ut ultricies aliquam erat volutpat mauris est sem semper fermentum-->
      <!--ac tortor</p>-->
    <!--<div class="group latest">-->
      <!--<article class="one_third first">-->
        <!--<figure><a href="#"><img src="images/demo/320x220.png" alt=""></a>-->
          <!--<figcaption>-->
            <!--<time datetime="2045-04-06T08:15+00:00"><strong>06</strong> <em>Apr</em></time>-->
          <!--</figcaption>-->
        <!--</figure>-->
        <!--<div class="txtwrap">-->
          <!--<h4 class="heading">Non fringilla purus</h4>-->
          <!--<ul class="nospace meta">-->
            <!--<li>by <a href="#">Admin</a></li>-->
            <!--<li>in <a href="#">Category Name</a></li>-->
          <!--</ul>-->
          <!--<p>Praesent hendrerit diam sit amet turpis lobortis bibendum fusce malesuada condimentum hendrerit-->
            <!--morbi&hellip;</p>-->
          <!--<footer><a href="#">Read More &raquo;</a></footer>-->
        <!--</div>-->
      <!--</article>-->
      <!--<article class="one_third">-->
        <!--<figure><a href="#"><img src="images/demo/320x220.png" alt=""></a>-->
          <!--<figcaption>-->
            <!--<time datetime="2045-04-05T08:15+00:00"><strong>05</strong> <em>Apr</em></time>-->
          <!--</figcaption>-->
        <!--</figure>-->
        <!--<div class="txtwrap">-->
          <!--<h4 class="heading">Integer fringilla arcu</h4>-->
          <!--<ul class="nospace meta">-->
            <!--<li>by <a href="#">Admin</a></li>-->
            <!--<li>in <a href="#">Category Name</a></li>-->
          <!--</ul>-->
          <!--<p>Dolor magna nam mattis tempor augue sit amet congue ipsum iaculis dignissim nullam et pharetra orci morbi-->
            <!--non&hellip;</p>-->
          <!--<footer><a href="#">Read More &raquo;</a></footer>-->
        <!--</div>-->
      <!--</article>-->
      <!--<article class="one_third">-->
        <!--<figure><a href="#"><img src="images/demo/320x220.png" alt=""></a>-->
          <!--<figcaption>-->
            <!--<time datetime="2045-04-04T08:15+00:00"><strong>04</strong> <em>Apr</em></time>-->
          <!--</figcaption>-->
        <!--</figure>-->
        <!--<div class="txtwrap">-->
          <!--<h4 class="heading">Varius molestie nulla sed</h4>-->
          <!--<ul class="nospace meta">-->
            <!--<li>by <a href="#">Admin</a></li>-->
            <!--<li>in <a href="#">Category Name</a></li>-->
          <!--</ul>-->
          <!--<p>Eros ante suspendisse lectus nibh ultricies id ex aliquam congue finibus nisl sed tempus semper porttitor-->
            <!--lorem&hellip;</p>-->
          <!--<footer><a href="#">Read More &raquo;</a></footer>-->
        <!--</div>-->
      <!--</article>-->
    <!--</div>-->
  <!--</section>-->
<!--</div>-->


